<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/arbuzworks/Movies/Camtasia 2/Temporary Recordings/Rec 10-9-13 6.cmrec</key>
	<data>
	Ym9vawgDAAAAAAQQMAAAANHSNZXtSMQ/m0ogH5IvN4lbhgiJyWKTfFRtEw4ctgU4EAIA
	AAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGFyYnV6d29ya3MAAAYAAAABAQAATW92aWVz
	AAAKAAAAAQEAAENhbXRhc2lhIDIAABQAAAABAQAAVGVtcG9yYXJ5IFJlY29yZGluZ3MT
	AAAAAQEAAFJlYyAxMC05LTEzIDYuY21yZWMAGAAAAAEGAAAEAAAAFAAAACgAAAA4AAAA
	TAAAAGgAAAAIAAAABAMAAOqQAAAAAAAACAAAAAQDAAA28igAAAAAAAgAAAAEAwAAzPIo
	AAAAAAAIAAAABAMAAPJAKQAAAAAACAAAAAQDAADzQCkAAAAAAAgAAAAEAwAAKTMrAAAA
	AAAYAAAAAQYAAKQAAAC0AAAAxAAAANQAAADkAAAA9AAAAAgAAAAABAAAQbgFVqwAAAAY
	AAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABAAAAAAAAAAEAAAA
	AwMAAAACAAAMAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAID+DyUAAAAIAAAAAAQA
	AEGwNU1wAAAAJAAAAAEBAAA5RTkxMUM2Qi04MTY3LTM3ODAtQTFBMC01RjEyQjA3QkY5
	NzYYAAAAAQIAAIEAAAABAAgA7z8AAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAAB
	BQAABAAAAAMDAAAACAAowAAAAP7///8BAAAAAAAAAA8AAAAEEAAAhAAAAAAAAAAFEAAA
	BAEAAAAAAAAQEAAANAEAAAAAAABAEAAAJAEAAAAAAAACIAAA8AEAAAAAAAAQIAAAcAEA
	AAAAAAARIAAApAEAAAAAAAASIAAAhAEAAAAAAAATIAAAlAEAAAAAAAAgIAAA0AEAAAAA
	AAAwIAAA/AEAAAAAAAABwAAAVAEAAAAAAAARwAAAFAAAAAAAAAASwAAAZAEAAAAAAAAQ
	0AAABAIAAAAAAAA=
	</data>
</dict>
</plist>
